
.DS_Store
.VSCodeCounter/2020-11-02_12-32-54/details.md
.VSCodeCounter/2020-11-02_12-32-54/results.csv
.VSCodeCounter/2020-11-02_12-32-54/results.md
.VSCodeCounter/2020-11-02_12-32-54/results.txt
./idea
.idea/workspace.xml
.idea/workspace.xml
/.idea
.idea/workspace.xml
/.idea
