.contactform{
    position: absolute;
    left: 0px;
    top: 56px;
    bottom: 0px;
    right: 0px;

    min-height: calc(100% - 56px);
    min-width: 100%; 
    border:none;
}

.formFooter{
    display: none;
}