#paywrapper{
    position: absolute;
    display: inline-block;
    left: 10vw;
    right: 10vw; 
    top: 32px;
    /* height: 280px; */
    background: var(--card-colour);
    border: 1px solid var(--standard-border-colour);
    border-radius: 8px;

}

#cardwrapper{
    display: inline-block;
    justify-content: center;
    user-select: none;
}

.moneyheader{
    display: block;
    font-family: 'Lexend Deca', sans-serif !important;
    color: var(--text-colour);
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 12px;

}

#moneyinput{
    font-family: 'Lexend Deca', sans-serif !important;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--small-text-colour);
    width: 70%;
    border-radius: 0px;
    /* background: rgba(255,255,255,0.1); */
    color: var(--small-text-colour);
    text-align: center;
    text-transform: lowercase;
    font-size: 25px;
    transition: 0.2s color ease, 0.2s background ease;
}

#moneyinput:focus{
    color: #adadad;
    border-bottom: 1px solid transparent;
    background: rgba(255,255,255,0.1);

}

#moneypic{
    width: 92px;
    height: 92px;
    border-radius: 999px;
    border: 6px solid var(--small-text-colour);
    background-color: grey;
    user-select: none;
    display: block;
    margin-bottom: 10px;
}

.paymentsep{
    background-color: white;
    width: 75%;
    height: 1px;
    display: block;
}