#blogcontent{
    position:absolute; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    top: 0px; 
    background-color: var(--main-bg-colour);
}

#blogcontent::-webkit-scrollbar {
    width: 10px;
    transition: 0.2s background ease;
}

#blogcontent::-webkit-scrollbar-track {
  background: var(--main-bg-colour); 
}

#blogcontent::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-colour);
/* 
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
}

#blogcontent::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-colour-hover); 
}

#rss_header{
  position: absolute;
  right: 11px;
  top: 11px;
  height: 32px;
  line-height: 32px;
  width: 64px;
  background: #f26522;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif !important;
  border-radius: 6px;
  color: white;
  border: 1px solid var(--text-colour);
}