*{
    --main-bg-colour: #0d0a0c;
    --header-gradient: #0d0a0cC8;
    --sidebar-colour: #0f0c0d;
    --card-colour: #0f0c0d;
    
    --wp-site-bg: #111;

    --primary-accent: #ff0060;
    /* --primary-accent: #00b7ff; */
    /* --secondary-accent: #ff9d00; */
    --secondary-accent: #00b7ff;

    --text-colour: #e0e0e0;
    --some-text-colour: #dadada;
    --some-header-colour: #868686;
    --some-hover-bg: rgba(255,255,255,0.04);
    --some-active-background: rgba(255,255,255,0.05);
    --small-text-colour: #cccccc;
    --standard-border-colour: #212121;

    --comm-sidebar-colour: #00000064;
    --modal-bg: #212121;

    --msg-box-gradient: #d30051;
    --msg-box-text-color: white;

    --invert-state: 0;
    
    --sb-track-colour: transparent;
    --sb-thumb-colour: #191c21;
    --sb-thumb-colour-hover: #2c313a;

    --wp-label-colour: rgba(255,255,255,0.1);
    --wp-resol-colour: rgba(255,255,255,0.05);

    --button-background: #d30051;
    --button-text: rgba(255,255,255,0.9);

    --sidebar-border-colour: black;
    --sidebar-border-width: 1px;

    --standard-font: "Lexend Deca", sans-serif;
    /* --standard-font: "Inter", sans-serif; */

}