*{
    --main-bg-colour: #e8e0e3;
    --header-gradient: #edededc8;
    /* --header-gradient: #ffffffc8; */
    --sidebar-colour: #ededed;
    --card-colour: #ededed;

    --wp-site-bg: #ededed;

    --primary-accent: #ff0060;
    /* --primary-accent: #00b7ff; */
    /* --secondary-accent: #ff9d00; */
    --secondary-accent: #00b7ff;

    --text-colour: black;
    --some-text-colour: #222;
    --some-header-colour: #444;
    --some-hover-bg: rgba(0,0,0,0.05);
    --some-active-background: rgba(0,0,0,0.09);
    --small-text-colour: #212121;
    --standard-border-colour: #c8c8c8;

    --comm-sidebar-colour: #f7f7f7;
    --modal-bg: #212121;

    --msg-box-gradient: #d30051;
    --msg-box-text-color: white;

    --invert-state: 0.9;

    --sb-track-colour: transparent;
    --sb-thumb-colour: #adadad;
    --sb-thumb-colour-hover: #8b8b8b;

    --wp-label-colour: rgba(0,0,0,0.1);
    --wp-resol-colour: rgba(0,0,0,0.2);

    --button-background: #d30051;
    --button-text: white;

    --sidebar-border-colour: transparent;
    --sidebar-border-width: 0px;

    --standard-font: "Lexend Deca", sans-serif;
    /* --standard-font: "Inter", sans-serif; */
}