#linktree{
    position: absolute;
    /* background: var(--main-bg-colour); */

    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;

    /* z-index: 200; */
}

#leftwrapper{
    display: none !important;
}

#header{
    width: 100% !important;
    left: 0px !important;
    z-index: 210;

    display: none;
}

#hamborger{
    display: none !important;
}

#linktreeContainer{
    background: var(--sidebar-colour);
    opacity: 0.9;
    /* width: 400px; */

    position: absolute;
    display: inline-block;
    
    left: calc(50% - 200px);
    right: calc(50% - 200px);
    bottom: 0px;
    top: 0px;

    z-index: 200;

    border-left: 1px solid var(--standard-border-colour);
    border-right: 1px solid var(--standard-border-colour);

    -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.66);
}

.ltcwholewidth{
    left: 0px !important;
    right: 0px !important; 

    top: 56px !important;

    border-left: 0px solid var(--standard-border-colour) !important;
    border-right: 0px solid var(--standard-border-colour) !important;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#background{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    overflow: hidden;

    pointer-events: none;
    opacity: 0.6;
}

#bgimage{
    position: absolute;
    top: 0px;
    height: 100%;
    left: 0px;
    width: 100%;
    object-fit: cover;

    filter: grayscale(0) blur(10px);

    transition: 0.7s transform ease, 0.7s opacity ease;
    
    transform: scale(1.8);
    opacity: 0;
}

.bgimageloaded{
    transform: scale(1.1) !important;
    opacity: 1 !important;
}


#rightwrapper{
    display: none !important;
}