@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background: var(--main-bg-colour);
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    margin: 0 0;
    transition: 0.3s transform ease;
}

::selection {
    color: var(--primary-accent);
    background: rgba(127,127,127,0.3);
    filter: brightness(60%);
}

::-webkit-scrollbar {
    width: 8px;
    transition: 0.2s background ease;
}

::-webkit-scrollbar-track {
  /* background: var(--sb-track-colour);  */
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-colour);
  border-radius: 6px;
/* 
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-colour-hover); 
}

#header{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 56px;

    background: var(--header-gradient);
    /* border-bottom: 1px solid var(--standard-border-colour); */
    
    /* why does this work like crap */
    backdrop-filter: saturate(200%) blur(20px);
    -webkit-backdrop-filter: saturate(200%) blur(20px);

    user-select: none; /*everyone else */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    cursor: default;
}

.headerDispDesktop{
    left: 400px;
    z-index: 20;
}

.headerDispMobile{
    left: 0px;
    z-index: 100;
}

.headerPadding{
    display: block;
    height: 56px;
}

#hamborger{
    position: absolute;
    line-height: 56px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 32px;
    color: var(--text-colour);
    z-index: 30;
    opacity: 1;
    transition: 0.2s opacity ease, 0.2s color ease, 0.2s transform ease;
    transform: scale(1);
}

#hamborger:hover{
    opacity: 0.8
}

#hamborger:active{
    opacity: 1;
}

.hmgOUT{
    color: var(--primary-accent) !important;
    transform: scaleX(1.5) !important;
}

#hlogo{
    padding-top: 6px;
    height: 45px;
    width: auto;
    
    filter: invert(var(--invert-state));
}

#leftwrapper{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 400px;
    left: 0px;
    overflow: auto;
    background: var(--sidebar-colour);
    z-index: 50;
    border-right: var(--sidebar-border-width) solid var(--sidebar-border-colour);

    /* text-align: center; */
    user-select: none; /*everyone else */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    cursor: default;
}

.sidebarDispMobile{
    top: 56px !important;
    border: none !important;

    /* animation-name: mobilesidebarslidein;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-play-state: initial; */
}

@keyframes mobilesidebarslidein {
    from {
        bottom: 100%;
        height: 100%;
    }

    to {
        bottom: 0%;
        height: 100%;
    }
}

.sidebarDispDesktop{
    top: 0px !important;
}

#contentLeft{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    overflow: auto;
    user-select: none;
}

#cstatus{
    display: none;

    position: absolute;
    bottom: 0px;
    height: 80px;
    line-height: 92px;
    width: 100%;
    left: 0px;
    background: var(--comm-sidebar-colour);
    overflow: hidden;
    justify-content: center;
    user-select: none;
}

.cheader{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ubuntu, sans-serif; */
    font-family: var(--standard-font);
    /* display: block; */
    color: var(--small-text-colour);
}

.sep{
    color: var(--text-colour);
    padding-left: 6px;
    padding-right: 6px;
}

.closed{
    /* color: red !important; */
    color: var(--primary-accent) !important;
}

.open{
    /* color: lime !important; */
    color: var(--secondary-accent);
}

#ctitle{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ubuntu, sans-serif; */
    font-family: var(--standard-font);
    position: absolute;
    user-select: none;
    font-size: 18px;
    bottom: 56px;
    left: 12px;
    color: var(--text-colour);
    z-index: 2;
    text-decoration: underline;
}

#featurespot{
    text-align: center;
}

.nosaveimg{
    user-select: none;
}

#artfeature{
    width: 100%;
    height: 128px;
    object-fit: cover;
}

.featuretitle{
    color: var(--text-colour);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ubuntu, sans-serif; */
    font-family: var(--standard-font);
    user-select: none;
    font-weight: 600;
    padding-top: 4px;
    display: none;
}

#profilePic{
    position: absolute;
    width: 92px;
    height: 92px;
    /* left: calc(50% - 46px - 3px); */
    left: 22px;
    top: 92px;
    border-radius: 999px;
    /* border: 6px solid red; */
    /* border: 6px solid var(--sidebar-colour); */
    background-color: var(--sidebar-colour);
    user-select: none;
}

.sideTitle{
    color: var(--text-colour);
    font-family: var(--standard-font);
    user-select: none;
    font-size: 22px;
    line-height: 22px;
    display: block;
    padding-top: 65px;
    text-align: left;
    margin-left: 15px;
}

.sideSubtitle{
    color: var(--msg-box-text-color);
    font-family: var(--standard-font);

    user-select: none; /*everyone else */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    cursor: default;

    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* overflow: hidden; */
    text-overflow: ellipsis;

    padding-left: 4%;
    padding-right: 4%;

    left: 128px;
    right: 12px;
    top: 105px;
    height: 64px;

    background: var(--msg-box-gradient);
    /* clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%, 3% 93%); */

    border-radius: 12px;

    transition: 0.1s transform ease;


}

.sideSubtitle:active{
    transform: scale(0.95);
}

#sidebararrow {
    position: absolute;
    bottom: 0px;
    left: -12px; 
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-bottom: 26px solid var(--msg-box-gradient);
}

#subtitleoverflow{
    overflow: hidden;
}

.subtitleCredit{
    color: var(--small-text-colour);
    text-decoration: underline;
}

#artfeaturecover{
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 118px;
    background: linear-gradient(to bottom, transparent, transparent , var(--sidebar-colour));
}

.someheader{
    color: var(--some-header-colour);
    font-family: var(--standard-font);

    user-select: none;
    font-size: 16px;
    display: block;
    left: 0px;
    right: 0px;

    padding-left: 16px;
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */

    padding-top: 3px;
    padding-bottom: 3px;

    /* border-top: 2px var(--standard-border-colour) solid; */
    /* background: rgba(127,127,127,0.1); */

    user-select: none; /*everyone else */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    cursor: default;
}

a{
    text-decoration: none;
}

.someicon{
    color: var(--primary-accent)
}

.somelink{
    padding-left: 16px;
    font-size: 18px;
    font-family: var(--standard-font);

    margin-right: 8px;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 4px;

    border-radius: 8px;

    user-select: none;
    display: block;
    transition: 0.2s padding-left ease, 0.2s background ease, 0.2s opacity ease;
    color: var(--some-text-colour);
    font-weight: 300;
    cursor: pointer;

    padding-top: 6px;
    padding-bottom: 6px;
}

.somelink:hover{
    /* padding-left: 26px; */
    background: var(--some-hover-bg);

}

.currentActive{
    background-color: var(--some-active-background);
}

.disabled{
    /* pointer-events: none; */
    opacity: 0.3 !important;
    font-style: italic;
    font-weight: 100;
}

.button{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0.1));
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.imgbutton{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    background: linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0.1));
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

#shadow{
    z-index: 40;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    display: none;
}

/* .link:active{
} */

#notification{
    position: absolute;

    color: white;
    font-size: 22px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ubuntu, sans-serif; */
    font-family: var(--standard-font);
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    user-select: none;

    /* padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px; */

    right: 25px;
    bottom: 10px;
    height: 0px;
    width: 0px;
    line-height: 64px;

    /* border: 1px solid white; */
    border-left: 10px solid var(--secondary-accent);
    border-right: 10px solid var(--secondary-accent);
    border-radius: 12px;


    z-index: 999;
    
    background: black;
    opacity: 0;

    /* transition: 0.3s all ease; */
    transition: 0.3s all cubic-bezier(.49, 0, 0, 1),
                0.3s border-radius ease;
}

.nfStepOne{
    opacity: 1 !important;
    height: 64px !important;
}

.nfStepTwo{
    border-left: 10px solid var(--primary-accent) !important;
    border-right: 10px solid var(--primary-accent) !important;
    width: 360px !important;
    border-radius: 4px !important;
}

.linkbutton{
    display: inline-block;
    border-radius: 6px;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-bottom: 5px;

    background: var(--button-background);


    font-family: var(--standard-font)!important;
    color: var(--button-text);
    
    user-select: none;
    cursor: pointer;

    transition: 0.2s filter ease;
    /* border: 2px solid var(--primary-accent); */
    transition: 0.2s filter ease;
    text-align: center;
}

.linkbutton:hover{
    /* border: 2px solid var(--primary-accent); */
    filter: brightness(1.3);
}

.linkbutton:active{
    filter: brightness(1.7);
}

.linkbuttonsmall{
    display: inline-block;
    border-radius: 24px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-bottom: 5px;
    font-family: 'Lexend Deca', sans-serif !important;
    font-size: 12px;
    color: var(--text-colour);
    
    user-select: none;
    cursor: pointer;

    transition: 0.2s filter ease;
    border: 2px solid var(--standard-border-colour);
    transition: 0.2s filter ease;
}

.linkbuttonsmall:hover{
    /* border: 2px solid var(--primary-accent); */
    filter: brightness(1.3);
}

.linkbuttonsmall:active{
    filter: brightness(1.7);
}

.link{
    transition: 0.3s opacity ease,
                0.3s transform ease,
                0.3s background ease,
                0.3s color ease,
                0.3s border ease,
                0.3s border-radius ease;
    cursor: pointer;
    color: #adadad;
    transform: scale(1);
    border-radius: 30px;
    user-select: none;
    border: 2px solid transparent;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;

    background: rgba(255,255,255,0.05);
    font-size: 16px !important;

    display: none !important; 
    /* this feature is being phased out due to incompatibilities */
}

.link:hover{
    transform: rotate(180deg);
    color: var(--text-colour);
    background: rgba(255,255,255,0.2);

    border-left: 2px solid var(--primary-accent);
    border-top: 2px solid var(--primary-accent);
    border-bottom: 2px solid var(--primary-accent);
    border-right: 2px solid var(--primary-accent);
}

#meem{
    display: none;
}

#foolscard{
    display: none;
}

#funstuff{
    display: none;
}

#cookieconsent{
    position: absolute;
    user-select: none;
    left: 0;
    right: 0;
    bottom: 0;
    height: 64px;
    /* line-height: 64px; */
    pointer-events: none;
    z-index: 999;
    padding-left: 10vw;
    padding-right: 10vw;
    overflow: hidden;
}

.cookieconsentactive{
    pointer-events: initial !important;
    background-color: var(--modal-bg);
    color: var(--text-colour)
}


.drkbtn{
    border-color: white !important; 
}

.standardUItext{
    color: var(--some-text-colour);
    font-family: "Lexend Deca", sans-serif;
    user-select: none;
}

.img_invertable{
    filter: invert(var(--invert-state));
}

#mainsitebanner{
    width: 100%;
    height: 60%;
    background-color: black;

    z-index: -5;

    position: absolute;

    /* background-image: url('/img/sitebanner.jpg');
    background-position: top center;
    background-attachment:scroll;
    background-size: cover; */

    overflow: hidden;
}

#mdr-shdw{

    z-index: 5;
    /* width: 100%;
    height: 60%; */

    /* background: red; */
    background: linear-gradient(180deg, transparent, transparent,  var(--main-bg-colour));
    position: absolute;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#msb-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

    position: absolute;
 
    z-index: 4;

    opacity: 0;
    transform: scale(1.4,0.1);
    transition: 0.3s all cubic-bezier(0,.74,.65,.99);
    /* filter: blur(100px) grayscale(100%); */
}

.msb-img-loaded{
    opacity: 0.6 !important;
    transform: scale(1,1) !important;
    /* filter: blur(0px) !important; */

}

#msb-hdr{
    position: absolute;
    left: 0px;
    right: 0px;
    height: 32px;
    top: calc(44% - 16px);
    font-size: 36px;
    color: white;
    font-family: "Lexend Deca",sans-serif;
    font-weight: 900;

    text-align: center;

    /* text-shadow: 0px 10px 4px black; */

    user-select: none; /*everyone else */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    cursor: default;

    z-index: 5;

    /* text-decoration: underline ; */
    /* text-decoration-color: rgba(255,255,255,0.4); */

    margin-left: 40px;
    margin-right: 40px;


}

.nonselect{
    user-select: none; /*everyone else */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    cursor: default;
}

.nonselectlink{
    user-select: none; /*everyone else */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    cursor: pointer;
}

#bannerPadding{
    display: block;

    height: 45%;

    user-select: none; /*everyone else */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    cursor: default;
}

.articlelink{
    color: var(--primary-accent);
    text-decoration: underline;
}

.countdownclock{
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    background-color: rgb(50,25,0);
    border: 1px solid rgb(100,50,0);
    color: white;

    border-radius: 8px;

    font-family: monospace;

    user-select: none; /*everyone else */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    cursor: default;
}

.macbanner{
    height: auto;
    width: 40%;
    min-width: 250px;
    max-width: 440px;

    margin-top: 40px;
    /* pointer-events: none; */

    /* border: 2px solid var(--text-colour); */

    border-radius: 8px;

    filter: invert(var(--invert-state));
}

.copyright{
    color: var(--text-colour);
    font-family: var(--standard-font);
    opacity: 0.7;

    display: block;

    margin-top: 40px;

}

.linkboxscrollable{
    display: block;
    width: calc(100% - 24px);
    background: rgba(127,127,127,0.2);
    overflow-y: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid var(--some-header-colour);
    border-radius: 6px;
    user-select: all;
}

.sbpronouns{
    font-size: 16px;
    line-height: 22px;
    color: var(--text-colour);
    opacity: 0.6;
}

.artcredit{
    color: white; 
    font-family: 'Lexend Deca', sans-serif !important;
    opacity: 0.8;
    text-shadow: 0px 0px 2px #555;
}

.artcreditlink{
    color: white !important;
    text-decoration: underline;
}