#rightwrapper{
    position: absolute;
    /* background: red; */
    top: 56px;
    right: 0px;
    bottom: 0px;
    left: 400px;
    z-index: 0;
    overflow: auto;
    background: var(--main-bg-colour);
}

.card{
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 75%;
    max-width: 800px;
    display: block;
    background: var(--card-colour);
    color: var(--text-colour);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ubuntu, sans-serif; */
    font-family: 'Lexend Deca', sans-serif;

    /* i have been fucking with this for about two days now, and i really just want to cry */
    /* clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px); */

    transition: 0.2s clip-path ease;

    border-radius: 12px;
    border: 1px solid var(--standard-border-colour);


}

hr{
    display: block; 
    height: 2px;
    border: 0; 
    padding: 0;
    border-top: 1px solid var(--standard-border-colour);
}

#countdowndisplay{
    color: var(--text-colour);
    background: black;
    font-size: 32px;
    font-family: monospace;
    user-select: none;

    cursor: default;
    display: inline-block;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    /* border: 1px solid white; */
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
}

.cardpara{
    margin-left: 20px;
    margin-right: 20px;
}

.header{
    font-size: 28px;
    user-select: none;
    display: inline-block;
    margin-bottom: 8px !important;
}

.squaredoff{
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
}

#marquee{
    display: none;
}

.blmsquare{
    border-radius: 9px;
    border: 1px solid white;
    box-shadow: 0px 0px 4px 1px rgba(255,255,255,1);
    
}

.darkbg{
    background: black !important;
}