
/* 
.twitter{
    color: #1da1f2;
}

.adtwitter{
    color: white;
    text-shadow: 0 0 10px #FFFFFF;
}

.telegram{
    color: #0088cc;
}

.telegramgroup{
    color: #c99d27;
}

.spotify{
    color: #1db954;
}

.reddit{
    color: #ff4500;
}

.steam{
    color: white;
}

.github{
    color: #6cc644;
}

.furaffinity{
    color: #faaf3a;
}

.paypal{
    color: #009cde;
}

.youtube{
    color: red;
}

.linkOne{
    color: #009cde;
}

.linkTwo{
    color: #faaf3a;
} */